
    .site-content{
        display: flex;
        // justify-content: 
    }
    .content-area{
	width: 68%;
	border-right: $solid_boder;
	padding: 6rem 3.5rem;
    }
    .page-header {
        height: 5rem;
    }
