/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Style
--------------------------------------------------------------*/


// CONTENT

.blog {
	display: flex;
	
	
}

.content-area-blog {
	width: 68%;
	border-right: 1px solid #e1e1e1;
	padding: 6rem 3.5rem;
	
	
	
}

.entry-header {
	position: relative;
	height: 499px;
	img {
		height: 499px;
        width: 100%;
	}
	
}

.entry-title {
	position: absolute;
	top: 0;
	background-color: #248a83; 
	max-width: 75%;
	padding: 0.75rem 1.5rem;
	font-size: 2.1rem;
	a {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		&:hover{
		color: peachpuff;
	}
	  }
}

.entry-meta  {
	background-color: #248a83;
	color: #fff;
	position: absolute;
	padding: 0.1rem 1.5rem;
	bottom: 0;
	right: 0;
	text-transform: uppercase;
	font-family: $accent_fontfamily,sans-serif;
	a{
		color: white;
		text-decoration: none;
		&:hover{
		color: peachpuff;
		}
	}
	
	
}

.read-more {
	border: 1px solid #000;
    color: #000;
	padding: 0.75rem 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	a {
		color: #000;
	}
	&:visited{
        color: black;
    }
    &:hover{
        background-color: $green_brand;
        color: white;

    }
	
}

// FOOTER

.site-footer {
	line-height: 1.3rem;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 345px;
	background-color: black;
	background-image: url('../../images/dark-wood.png');
	background-size: 512px 512px;
	h3 {
		font-family: $accent_fontfamily;
		color: $orange_brand;
		text-transform: uppercase;
	}
	p {
		color: white;
	}
	a{
		text-decoration: none;
		color: white;
	}
	i {
		font-size: 1.3rem;
		padding-right: 0.8rem;
		color: white;
	}
}

.bloc-contact {
	padding-top: 3rem;
	padding-left: 5rem;
	padding-right: 5rem;
}

.bloc-hours {
	padding-top: 3rem;	
	.day {
		font-weight: bold;
	}
}

.copyright {
	width: 100%;
	color: white;
	text-transform: uppercase;
	text-align: center;
	
}

.footer-logo {
	width: 50%;
	padding-left: 27%;
	padding-top: 4rem;
	padding-right: 2rem;
	.text-inha {
	text-transform: uppercase;
	}
	.text-camp {
	text-transform: uppercase;
	}


}




