/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
 #page {
     display: flex;
     flex-direction: column;
     flex: wrap;
     min-height: 100vh;
     margin: 0;
     
     
 }
 


