.products-content-area{
     padding: 5rem;
    
     
}



.products-header{
    text-align: center;
    text-transform: uppercase;
    
}

.product-categories{
    text-align: center;
    padding-left: 4rem;
    border-bottom: $dashed_border;
    
}

.product_sub_catagories{
    display: inline-block;
    padding-right: 3rem;
    a{
        color: #248A83;
        text-decoration: none;
		text-transform: uppercase;
    }
}

.products-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3rem;
}

.product-item{
    max-width: 23%;
}

.post-image-shop{
    padding-bottom: 0;
    height: 250px;
    img{
        border: $solid_boder;
        border-bottom-width: 5px;
        height: 250px;
        width: auto;
    }
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 3rem;
    border: $solid_boder;
    // content: "...........";
}

.post-title-shop{
    a{
        text-decoration: none;
        color: black;
        letter-spacing: 0;
        font-size: 1rem;
        font-weight: 400;
    }
    p{
        // margin-bottom: 0;
    }
}