.products-content-area{
     padding: 5rem;
    
     
}



.products-header{
    text-align: center;
    text-transform: uppercase;
    
}

.product-categories{
    text-align: center;
    padding-left: 4rem;
    border-bottom: $dashed_border;
    
}

.product_sub_catagories{
    display: inline-block;
    padding-right: 3rem;
    a{
        color: #248A83;
        text-decoration: none;
		text-transform: uppercase;
    }
}

.products-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3rem;
}

.product-item{
    max-width: 23%;
}

.post-image{
    img{
        height: auto;
    }
}