.single {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .entry-title{
        color: white;
        font-family: $accent_fontfamily,sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase; 
        line-height: 1.25;
    .entry-content{
        line-height: $base_lineheight;
    }
    }
	.entry-footer{
        text-transform: uppercase;
        color: $base_fontcolor;
        font-family: $main_fontfamily, serif;
        a{
            color: $green_brand;
            text-decoration: none;
            &:hover{
                color:$base_fontcolor;
            }
        }
        .cat-links{
            margin-right: 2rem;
        }
    }
	
}

.content-area-single {
	width: 75%;
	border-right: 1px solid #e1e1e1;
	padding: 6rem 3rem 6rem 5rem;
    margin: 0px;
	
	
	
}

// comments

.comment-form{
    display: flex;
    flex-direction: column;
    
    label{
    text-transform: uppercase;
    }
    .comment-form-url{
        input{
            width: 89%;
        }
        
    }
}

.reply, .comment-metadata, .logged-in-as {
    a{
            color: $green_brand;
            text-decoration: none;
            &:hover{
                color:$base_fontcolor;
            }
        }
}



.comments-title, .comment-reply-title{
   
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: $accent_fontfamily,sans-serif;
    
}

.comment-reply-title{
    font-size: 1.7rem;
}

.comments-title{
    font-size: 2rem;
}

.comment-list{
    margin:0;
    padding-left: 0;
}

.comment-body{
    display: flex;
    border-bottom: $solid_boder;
    padding: 2rem 0;

}

.comment-author-avatar{
    img{
        border-radius: 50%;
    }
}

.comment-content{
    padding-left: 1rem;
    .fn{
        font-style: normal;
        font-weight: bold;
    }
    .comment-metadata{
        color: gray;
    }
}

.required{
    color: $orange_brand;
}



.submit{
    background: $green_brand;
    padding: 0.75rem 1.2rem;
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: .9rem;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    &:visited{
        color: white;
    }
    &:hover{
    background: #19625d;
    color: #fff;
    }
}